footer {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 2rem;
  margin-top: 5rem;
  .footer-title {
    text-align: center;
    margin-bottom: 0.5rem;
    .footer-logo {
      font-family: "Courier New", Courier, monospace;
      font-size: 2.5rem;
      text-decoration: none;
      .footer-logo-center {
        color: var(--color-text-muted);
      }
      .footer-logo-around {
        color: var(--color-accent-muted);
      }
    }
  }
  .footer-copyright {
    text-align: center;
    color: var(--color-text-muted);
  }
}
