.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0.25rem 1rem;
  z-index: 12;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: top 150ms ease-in-out;
  z-index: 1000;

  &.header-hide {
    top: -72px;
  }

  .header-logo {
    font-family: "Courier New", Courier, monospace;
    font-size: 3.5rem;
    text-decoration: none;
    color: var(--color-text);
    display: inline-flex;
    align-items: center;
    line-height: 1;

    .header-logo-around {
      color: var(--color-accent);
      display: inline-flex;
      align-items: center;
    }

    .header-logo-center {
      position: relative;
      top: 0.1em;
    }

  }

  .header-controls {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
}