.contact-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  .contact-button {
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1ch;
    transition: background-color 0.3s ease;
    z-index: 1;

    &:hover {
      background-color: var(--primary-hover);
    }

    &:active {
      background-color: var(--primary-hover);
    }
  }
  .contact-button-copied {
    display: none;
    background-color: var(--primary-hover);
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    border-radius: 4px;
    animation: slideIn 100ms ease-out;
    z-index: 9;
    svg {
      fill: white;
      width: 1.5rem;
      aspect-ratio: 1;
    }
  }
  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
