$color: #ebebeb;
$hover: var(--primary-hover);

.contact-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  .contact-button {
    background-color: var(--primary);
    color: $color;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1ch;
    transition: background-color 0.2s ease;
    z-index: 1;
    cursor: pointer;
    &:hover {
      background-color: $hover;
    }

    &:active {
      background-color: $hover;
    }
    .contact-button-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 20px;
        aspect-ratio: 1;
      }
    }
  }
}
