.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0.5rem 0;

  .content {
    width: 80%;
    text-align: left;
    font-size: 1.3rem;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    &:hover::before {
      content: "🔗";
      position: absolute;
      font-size: 1.5rem;
      left: -2rem;
    }
  }
  p {
    margin-top: 0rem;
  }
}
