.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  .header-logo-container {
    .header-logo-name {
      .header-logo-lastname {
        font-size: 3rem;
      }
      .header-logo-firstname {
        font-size: 2rem;
        line-height: 1rem;
      }
      p {
        font-weight: 600;
        margin-block: 0;
      }
    }
  }
}
