:root {
  font-family: "Fira Code", monospace;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}

body {
  --background-color: #fefefe;
  --text-color: #474747;
  --shadow-color: #999;
  --highlight: #cdcdcd;
  --highlight-color: #000;
  --primary: hsl(12, 70%, 50%);

  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark {
  --background-color: #1d1d1d;
  --text-color: #d6d6d6;
  --shadow-color: #111;
  --highlight: #666;
  --highlight-color: #eee;
  --primary: hsl(12, 90%, 40%);
}
