:root {
  font-family: "Fira Code", monospace;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  scroll-behavior: smooth;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: var(--primary);
  color: var(--text-color);
  padding: 0.5rem 1rem;
  z-index: 100;
  opacity: 0;
  transition: opacity 250ms ease-out;
  &:focus {
    top: 0;
    opacity: 1;
  }
}

body.light {
  --background-color: #fefefe;
  --background-color-navigation: #f0e2e8d7;
  --text-color: #272727;
  --text-color-muted: #999;
  --shadow-color: #999;
  --highlight: #cdcdcd;
  --highlight-color: #000;
  --primary: #219b8d;
  --primary-hover: #096358;
}

body {
  --background-color: #1d1d1d;
  --background-color-navigation: #252123d7;
  --text-color: #dddddd;
  --text-color-muted: #999;
  --shadow-color: #111;
  --highlight: #666;
  --highlight-color: #eee;
  --primary: #219b8d;
  --primary-hover: #096358;

  --blob-image-color-left: #ff0066;
  --blob-image-color-right: #7c0c39;

  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);

  transition: background-color 170ms ease-out;
}
