// ─── Scroll-down indicator ───

// Hide on small viewports
@media (max-width: 299px) and (max-height: 769px),
  (max-width: 339px) and (max-height: 679px),
  (max-width: 439px) and (max-height: 739px),
  (max-width: 814px) and (max-height: 799px),
  (max-width: 959px) and (max-height: 799px) {
  #scroll-down-container {
    display: none;
  }
}

#scroll-down-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  translate: -50%;

  &:hover {
    a {
      color: var(--color-text-muted);
    }
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    text-decoration: none;
    color: var(--color-text-deep-muted);
    font-weight: bold;
    transition: color 100ms ease;

    svg {
      width: 40px;
      height: 40px;
      animation: moveUpDown 1.2s infinite ease-out;

      @keyframes moveUpDown {
        0% {
          transform: translateY(0);
        }

        50% {
          transform: translateY(7px);
        }

        100% {
          transform: translateY(0);
        }
      }
    }
  }
}
